html,
body {
  padding: 0;
  margin: 0;
  background-color: black;
  color: rgb(217 217 217);
  font: 14px -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

img, svg {
  width: 100%;
  heights: 100%;
}